/* Configurações gerais */
@charset "utf-8";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "./reset.css";
@import "./framework.css";

* {
  margin:0px;
  padding:0px;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #eeeeee;
}

/* Estilos para Header */

.navbar-menu a{
  color: #fff;
}
.navbar img{
  width: auto;
}
.navbar-item{
  color: #000000;
  font-family: 'Poppins';
}

.navbar-item:hover{
  transition: 200ms;
  color: #000000;
}

#my-son-goleiro h1, #my-son-goleiro p{
  text-align: justify;
}

#my-goleirao-img{
  display: flexbox;
  align-self: flex-start;
}
/* Estilos para Abaixo do Header (básico) */
.columns{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
  vertical-align: middle; 
}

main p{
  margin-bottom: 10px;
  color: #000000;
  margin-left: 4px;
  margin-right: 4px;
  text-align: justify;
  font-weight: normal;
  font-family: 'Poppins';
}

.up-index-h2{
  text-align: center;
}

#index-apresentacao{
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color:hsla(153deg, 53%, 53%, 100%);
  background-image: url(../img/carrossel1.jpg);
  padding-top: 10px;
  padding-bottom: 10px;
}

#imagem-emcima {
  width: 300px;
}

#section1{
  width:auto;
  padding:0px;
  margin:0px;
}

main h1{
  font-family: 'Poppins';
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 8px;
}

.title-menor{
  font-size: 20px;
}

#mid-index{
  background-color: #007700;
}

#mid-index h1, #mid-index p{
  color: #fff;
} 

#mid-index-img{
  width: 200px;
}

/*Carrossel*/

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Make the images invisible by default */
.Containers {
  display: none;
}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */
.Info {
  color: #e3e3e3;
  font-size: 16px;
  padding: 10px 14px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Worknumbering (1/3 etc) */
.MessageInfo {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.enable, .dots:hover {
  background-color: #717161;
}

/* Faint animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5}
  to {opacity: 2}
}
/* Caixa com informações do trabalho. */
#index-info-trabalho {
  text-align: center;
  color: #000000;
}

#index-info-trabalho {
  margin-top: 10px;
}


/* #007700, #00aa00 */

