/* Configurações gerais */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "./framework.css";

* {
  margin:0px;
  padding:0px;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  background-color: #eeeeee;
}

/* Estilos para Header */

.navbar img{
  width: auto;
}
.navbar-item{
  color: #000000;
  font-family: 'Poppins';
}

.navbar-item:hover{
  transition: 200ms;
  color: #000000;
}

/* Estilos para Abaixo do Header (básico) */
.columns{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
  vertical-align: middle; 
}

main p{
  margin-bottom: 10px;
  color: #000000;
  margin-left: 4px;
  margin-right: 4px;
  text-align: justify;
  font-weight: normal;
  font-family: 'Poppins';
}

.up-index-h2{
  text-align: center;
}

#index-apresentacao{
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color:hsla(153deg, 53%, 53%, 100%);
  background-image: url(../img/carrossel1.jpg);
  padding-top: 10px;
  padding-bottom: 10px;
}

#imagem-emcima {
  width: 300px;
}

#section1{
  width:auto;
  padding:0px;
  margin:0px;
}

main h1{
  font-family: 'Poppins';
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 8px;
}

.title-menor{
  font-size: 20px;
}

/*Carrossel*/

/* Caixa com informações do trabalho. */
#index-info-trabalho {
  text-align: center;
  color: #000000;
}

#index-info-trabalho {
  margin-top: 10px;
}